<p id="notice"><%= notice %></p>

<h1>Coffeees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Desctrption</th>
      <th>Home</th>
      <th>Img</th>
      <th>Something</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coffeees.each do |coffeee| %>
      <tr>
        <td><%= coffeee.name %></td>
        <td><%= coffeee.type %></td>
        <td><%= coffeee.desctrption %></td>
        <td><%= coffeee.home %></td>
        <td><%= coffeee.img %></td>
        <td><%= coffeee.something %></td>
        <td><%= link_to 'Show', coffeee %></td>
        <td><%= link_to 'Edit', edit_coffeee_path(coffeee) %></td>
        <td><%= link_to 'Destroy', coffeee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coffeee', new_coffeee_path %>
